<%- include("./partials/header.ejs") %>

<div class="menu">

	<h1>  ToscoTweet </h1>
	<form action="/submit" method="POST">
	<input type="text" name="tweet">
	<input type="submit" value="Tweet">
</form>
</div>

<div class="main-container"> 

	<div class="right-menu"> 
		<h1> All tweets </h1>

		<% if (locals.tweets_title){ %>

				<% for (let i = 0; i < tweets_title.length; i++) { %>
		
				<a href="/showTweet/<%= tweets_ids[i] %>"> <h3> <%= tweets_title[i] %> <br> </h3> </a>
			
			<% } %>
		<% } %>
	</div>

	<div class="tweet-display"> 
		

		<% if (locals.tweet_text){ %>
			  <% if (locals.edit) { %>
 
              <form action="/edit_tweet/<%= tweet_id %>" method="POST">
            	<input type="text" name="edited_tweet" value="<%= tweet_text %>">
	            <input type="submit" value="Save">
 			        <a href="/delete/<%= tweet_id %>"> <h3> Delete </h2> </a>
            </form> 
       <% } else { %>
        
        <h1> <%= tweet_text %> <br> </h1>

			<a href="/edit/<%= tweet_id %>"> <h2> Edit </h2> </a>
 			<a href="/delete/<%= tweet_id %>"> <h3> Delete </h2> </a>

			<% } %>

			<% } %>

	</div>

</div>


